@define-color base #000000;
@define-color text #00ffff;
@define-color accent #00ffff;
@define-color dark-accent #dddddd;
@define-color hover-background transparent;
@define-color warning yellow;
@define-color critical red;

* {
  border: none;
  border-radius: 0;
  font-family: Hurmit Nerd Font;
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
}

*:hover {
  background-color: transparent;
}

window#waybar {
  background: transparent;
  color: @text;
  border-style: solid;
  border-radius: 2px;
}

tooltip {
  background: @base;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: @text;
}

tooltip * {
  color: @text;
}


#workspaces {
  padding: 0px;
  margin-left: 0px;
  background-color: transparent;
}

#workspaces button {
  background-color: transparent;
  color: #66ccff;
  margin: 0;
  padding: 0px;
  min-width: 24px;
  border-bottom: 1px solid transparent;
  border-radius: 0px;
}

#workspaces button:hover {
  color: @accent;
  background-color: transparent;
}

#workspaces button.empty {
  color: @dark-accent;
}

#workspaces button.active {
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #00ffff;
  background-color: transparent;
  border: 2px solid @accent;
  border-radius: 2px 2px 10px 10px;
  border-color: #ff0066;
  font-size: 24px;
  font-weight: bolder;
}


#idle_inhibitor,
#clock,
#battery,
#wireplumber,
#network,
#tray,
#backlight {
  padding: 6px 8px;
}

#tray {
  border-radius: 6px;
  margin-right: 4px;
}

#clock {
  color: #00ffff;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid;
  border-color: #ff0066;
  border-radius: 2px 2px 10px 10px;
}

#network {
  border-radius: 6px 0px 0px 6px;
}

#wireplumber {
  margin-right: 8px;
}

#battery {
  border-color: #ff0000;
  border-radius: 0px 0px 25px 25px;
  border: 0px solid;
  margin-right: 0px;
}

#battery.warning,
#battery.critical {
  border-radius: 0px;
  border-bottom: 2px solid;
  margin-bottom: 2px;
}

#battery.warning {
  border-color: @warning;
}

#battery.critical {
  border-color: @critical;
}

#custom-notifications {
  padding-right: 10px;
  font-size: 14px;
}

#mpd {

}
