absl-py==2.3.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-types==0.7.0
async-timeout==5.0.1
attrs==25.4.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.3.2
conv-allocator==3.17.1
cycler==0.12.1
edge-mdt==1.1.0
edge-mdt-cl==1.0.0
edge-mdt-tpc==1.2.0
filelock==3.20.0
filetype==1.2.0
flatbuffers==25.12.19
fonttools==4.61.1
frozenlist==1.8.0
fsspec==2025.12.0
gitdb==4.0.12
gitpython==3.1.46
grpcio==1.76.0
humanfriendly==10.0
idna==3.7
imageio==2.37.2
immutabledict==4.2.2
imx500-converter==3.17.3
jinja2==3.1.6
joblib==1.5.3
kiwisolver==1.4.9
lazy-loader==0.4
lightning-utilities==0.15.2
markdown==3.10
markdown-it-py==4.0.0
markupsafe==3.0.3
matplotlib==3.9.4
mct-quantizers==1.6.0
mdurl==0.1.2
ml-dtypes==0.5.4
model-compression-toolkit==2.4.5
mpmath==1.3.0
multidict==6.7.1
-e file:///home/bhu1/games/imx500/trial-6/nanodet
networkx==3.0
numpy==2.2.6
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==8.7.0.84
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.20.5
nvidia-nvtx-cu11==11.8.86
onnx==1.17.0
onnxruntime==1.21.1
onnxruntime-extensions==0.13.0
onnxruntime-gpu==1.19.2
onnxsim==0.4.36
onnxslim==0.1.82
opencv-python==4.11.0.86
opencv-python-headless==4.10.0.84
ortools==9.9.3963
packaging==25.0
pandas==2.3.3
pi-heif==1.1.1
pillow==12.1.0
pillow-avif-plugin==1.5.2
polars==1.37.1
polars-runtime-32==1.37.1
propcache==0.4.1
protobuf==4.25.5
psutil==7.2.1
pulp==3.3.0
pycparser==2.23
pydantic==2.11.7
pydantic-core==2.33.2
pygame==2.6.1
pygments==2.19.2
pyparsing==3.3.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytorch-lightning==2.6.1
pytz==2025.2
pyyaml==6.0.3
raylib==5.5.0.4
requests==2.32.5
requests-toolbelt==1.0.0
rich==14.3.1
roboflow==1.2.12
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.15.3
sdspconv==3.17.1
seaborn==0.13.2
setuptools==80.9.0
six==1.17.0
smmap==5.0.2
sony-custom-layers==0.3.0
stringcase==1.2.0
sympy==1.14.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tflite==2.18.0
tflite2onnx==0.4.1
thop==0.1.1.post2209072238
threadpoolctl==3.6.0
tifffile==2025.5.10
torch==2.3.1+cu118
torchmetrics==1.8.2
torchvision==0.18.1+cu118
tqdm==4.67.1
triton==2.3.1
typing-extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.3
ultralytics==8.4.5
ultralytics-thop==2.0.18
uni-model==10.0.23
uni-pytorch==3.17.1
urllib3==2.6.3
werkzeug==3.1.5
yarl==1.22.0
